Repository kubernetes-csi/csi-driver-host-path, pull requests merged in 2019-07, with the labels that each got.

#64 examples + drivername
  .prow.sh
  README.md
  cmd/hostpathplugin/main.go
  deploy/kubernetes-1.13/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.13/snapshotter/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-1.14/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.14/snapshotter/csi-hostpath-snapshotclass.yaml
  examples/csi-app-inline.yaml
  examples/csi-storageclass.yaml
  release-tools/build.make
  release-tools/prow.sh
  release-tools/travis.yml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note, size/L

#65 examples fix
  README.md
  examples/csi-app-inline.yaml
Labels: cncf-cla: yes, kind/documentation, release-note-none, size/S

#68 fix 1.15 readme to describe version dependencies
  deploy/kubernetes-1.15/README.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/XS

#69 Update 1.15 deployment driver name
  deploy/kubernetes-1.15/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.15/snapshotter/csi-hostpath-snapshotclass.yaml
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, size/XS

#70 Prow update
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/L

#67 Inline and persistent volumes
  README.md
  cmd/hostpathplugin/main.go
  pkg/hostpath/controllerserver.go
  pkg/hostpath/hostpath.go
  pkg/hostpath/nodeserver.go
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note, size/S

#76 update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#73 Make dataRoot optional, cleanup
  pkg/hostpath/controllerserver.go
  pkg/hostpath/hostpath.go
Labels: approved, cncf-cla: yes, kind/bug, kind/cleanup, lgtm, release-note, size/L
