Repository kubernetes-csi/csi-driver-host-path, pull requests merged in 2020-10, with the labels that each got.

#202 Update release-tools to fix canary jobs
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#208 master: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#209 deploy: remove redundant kubernetes-1.18 deployment
  deploy/kubernetes-1.18
  deploy/kubernetes-1.18/README.md
  deploy/kubernetes-1.18/deploy.sh
  deploy/kubernetes-1.18/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-driverinfo.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-testing.yaml
  deploy/kubernetes-1.18/snapshotter/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-1.18/test-driver.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/L

#213 Update owners file
  OWNERS
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/XS

#215 master: update release-tools
  release-tools/build.make
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L
