Repository kubernetes-csi/csi-driver-host-path, pull requests merged in 2020-11, with the labels that each got.

#220 Make raw block pvc creation from volume snapshot idempotent
  pkg/hostpath/controllerserver.go
  pkg/hostpath/hostpath.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/S

#223 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#225 Update release tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#227 fix readme: make failed error
  README.md
  pkg/hostpath/README.md
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note-none, size/XS
