Repository kubernetes-csi/csi-driver-host-path, pull requests merged in 2020-06, with the labels that each got.

#180 master: update release-tools, enable cloud build
  .cloudbuild.sh
  Dockerfile
  cloudbuild.yaml
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/build.make
  release-tools/cloudbuild.sh
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note, size/L

#181 master: update release-tools
  release-tools/build.make
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#182 cloud build: initialize support for running commands in Dockerfile
  .cloudbuild.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note-none, size/S

#183 master: update release-tools
  .cloudbuild.sh
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#184 Do not use latest version of image against older version of rbac rules
  deploy/kubernetes-1.16/canary-blacklist.txt
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#185 master: update release-tools
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS

#186 Update provisioner version to fix canary jobs
  deploy/kubernetes-1.17/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-provisioner.yaml
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/XS
