Repository kubernetes-csi/csi-driver-host-path, pull requests merged in 2021-05, with the labels that each got.

#216 added a destroy-script for the resources installed
  deploy/kubernetes-1.18/destroy.sh
  deploy/kubernetes-1.18/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-driverinfo.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-testing.yaml
  deploy/kubernetes-1.18/snapshotter/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-1.20/destroy.sh
  deploy/kubernetes-1.20/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-driverinfo.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-testing.yaml
  deploy/kubernetes-1.20/snapshotter/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-distributed/app-generic-ephemeral.yaml
  deploy/kubernetes-distributed/deploy.sh
  deploy/kubernetes-distributed/destroy.sh
  deploy/kubernetes-distributed/hostpath/csi-hostpath-driverinfo.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-storageclass-fast.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-storageclass-slow.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-testing.yaml
  deploy/util/deploy-hostpath.sh
  deploy/util/destroy-hostpath.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, ok-to-test, release-note, size/L

#281 deploy fixes
  deploy/kubernetes-1.18/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-testing.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-distributed/deploy.sh
  deploy/kubernetes-distributed/hostpath/csi-hostpath-plugin.yaml
  deploy/util/deploy-hostpath.sh
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note-none, size/M

#284 master: update release-tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/go-get-kubernetes.sh
  release-tools/prow.sh
  release-tools/pull-test.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/L

#282 single pod deployments
  deploy/kubernetes-1.18-test/README.md
  deploy/kubernetes-1.18-test/deploy.sh
  deploy/kubernetes-1.18-test/destroy.sh
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-driverinfo.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-testing.yaml
  deploy/kubernetes-1.18-test/test-driver.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-1.19-test
  deploy/kubernetes-1.20-test/README.md
  deploy/kubernetes-1.20-test/deploy.sh
  deploy/kubernetes-1.20-test/destroy.sh
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-driverinfo.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-testing.yaml
  deploy/kubernetes-1.20-test/kubernetes-latest-test
  deploy/kubernetes-1.20-test/test-driver.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-snapshotclass.yaml
  deploy/kubernetes-latest-test
  deploy/util/deploy-hostpath.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note, size/XXL

#286 deploy: replace /var/lib/kubelet on-the-fly
  deploy/kubernetes-distributed/deploy.sh
  deploy/util/deploy-hostpath.sh
Labels: approved, cncf-cla: yes, kind/feature, lgtm, release-note, size/S

#292 volume lifecycle fixes
  pkg/hostpath/controllerserver.go
  pkg/hostpath/hostpath.go
  pkg/hostpath/nodeserver.go
  pkg/state/state.go
  pkg/state/strings.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/L

#287 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#293 relax volume lifecycle checks by default
  cmd/hostpathplugin/main.go
  go.mod
  pkg/hostpath/controllerserver.go
  pkg/hostpath/hostpath.go
  vendor/modules.txt
Labels: approved, cncf-cla: yes, kind/failing-test, lgtm, release-note, size/S

#294 deploy: bump sidecar images
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-plugin.yaml
  hack/bump-image-versions.sh
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note, size/M

#291 Add coreutils package to support sparse file
  Dockerfile
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, release-note, size/XS

#296 master: update release-tools
  release-tools/build.make
  release-tools/cloudbuild.yaml
  release-tools/prow.sh
  release-tools/verify-shellcheck.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#297 release v1.7.0
  CHANGELOG/CHANGELOG-1.7.md
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-plugin.yaml
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/M

#298 master: update release-tools
  release-tools/build.make
Labels: approved, cncf-cla: yes, lgtm, release-note, size/XS

#299 release v1.7.1
  CHANGELOG/CHANGELOG-1.7.md
  deploy/kubernetes-1.18-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.18/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.20/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-plugin.yaml
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/M

#302 deploy: fix kustomize issue when using sidecar files for rbac.yaml
  deploy/kubernetes-distributed/deploy.sh
  deploy/util/deploy-hostpath.sh
Labels: approved, cncf-cla: yes, kind/bug, lgtm, release-note, size/S

#303 release v1.7.2
  CHANGELOG/CHANGELOG-1.7.md
Labels: approved, cncf-cla: yes, kind/documentation, lgtm, release-note-none, size/S

#301 master: update release-tools + OWNERS
  OWNERS
  OWNERS_ALIASES
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/OWNERS
  release-tools/OWNERS_ALIASES
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#304 master: update release-tools
  release-tools/KUBERNETES_CSI_OWNERS_ALIASES
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#305 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/M

#306 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#307 NodePublishVolume: require parents of target directory to exist
  pkg/hostpath/nodeserver.go
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note, size/XS

#309 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#311 master: update release-tools
  release-tools/prow.sh
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/S

#310 Update Broken link
  README.md
Labels: approved, cncf-cla: yes, lgtm, release-note-none, size/XS
