Repository kubernetes-csi/csi-driver-host-path, pull requests merged in 2022-06, with the labels that each got.

#357 Move from k8s.gcr.io to registry.k8s.io
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.21/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-distributed/app-generic-ephemeral.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-plugin.yaml
  hack/bump-image-versions.sh
Labels: kind/feature, lgtm, cncf-cla: yes, release-note, approved, size/M, ok-to-test

#358 master: update release-tools
  release-tools/prow.sh
Labels: lgtm, release-note-none, cncf-cla: yes, approved, size/XS

#360 Upgrade sidecars to latest release
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-attacher.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-provisioner.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-resizer.yaml
  deploy/kubernetes-1.21-test/hostpath/csi-hostpath-snapshotter.yaml
  deploy/kubernetes-1.21/hostpath/csi-hostpath-plugin.yaml
  deploy/kubernetes-distributed/hostpath/csi-hostpath-plugin.yaml
Labels: kind/cleanup, lgtm, cncf-cla: yes, release-note, approved, size/M
