Repository kubernetes-csi/csi-driver-host-path, pull requests merged in 2023-11, with the labels that each got.

#474 Update release tools
  release-tools/SIDECAR_RELEASE_PROCESS.md
  release-tools/cloudbuild.yaml
  release-tools/contrib/get_supported_version_csi-sidecar.py
  release-tools/generate_patch_release_notes.sh
  release-tools/prow.sh
  release-tools/pull-test.sh
Labels: kind/cleanup, lgtm, size/L, release-note-none, cncf-cla: yes, approved

#475 Add VolumeGroupSnapshot examples
  examples/csi-groupshapshot-v1alpha1.yaml
  examples/csi-groupsnapshotclass-v1alpha1.yaml
  examples/csi-snapshot-v1beta1.yaml
  examples/csi-volumesnapshotclass.yaml
Labels: lgtm, release-note-none, kind/documentation, cncf-cla: yes, approved, size/M, ok-to-test

#477 Update dependency go modules for k8s v1.29.0-rc.1
  go.mod
  go.sum
  pkg/hostpath/controllerserver.go
  vendor/github.com/container-storage-interface/spec/lib/go/csi/csi.pb.go
  vendor/gopkg.in/yaml.v2/.travis.yml
  vendor/gopkg.in/yaml.v2/LICENSE
  vendor/gopkg.in/yaml.v2/LICENSE.libyaml
  vendor/gopkg.in/yaml.v2/NOTICE
  vendor/gopkg.in/yaml.v2/README.md
  vendor/gopkg.in/yaml.v2/apic.go
  vendor/gopkg.in/yaml.v2/decode.go
  vendor/gopkg.in/yaml.v2/emitterc.go
  vendor/gopkg.in/yaml.v2/encode.go
  vendor/gopkg.in/yaml.v2/parserc.go
  vendor/gopkg.in/yaml.v2/readerc.go
  vendor/gopkg.in/yaml.v2/resolve.go
  vendor/gopkg.in/yaml.v2/scannerc.go
  vendor/gopkg.in/yaml.v2/sorter.go
  vendor/gopkg.in/yaml.v2/writerc.go
  vendor/gopkg.in/yaml.v2/yaml.go
  vendor/gopkg.in/yaml.v2/yamlh.go
  vendor/gopkg.in/yaml.v2/yamlprivateh.go
  vendor/k8s.io/apimachinery/pkg/api/resource/amount.go
  vendor/k8s.io/apimachinery/pkg/api/resource/quantity.go
  vendor/k8s.io/apimachinery/pkg/util/runtime/runtime.go
  vendor/k8s.io/apimachinery/pkg/util/version/version.go
  vendor/k8s.io/apiserver/pkg/features/kube_features.go
  vendor/k8s.io/component-base/metrics/buckets.go
  vendor/k8s.io/component-base/metrics/metric.go
  vendor/k8s.io/component-base/metrics/options.go
  vendor/k8s.io/component-base/metrics/opts.go
  vendor/k8s.io/component-base/metrics/registry.go
  vendor/k8s.io/kubernetes/pkg/features/kube_features.go
  vendor/k8s.io/mount-utils/mount_helper_common.go
  vendor/k8s.io/mount-utils/mount_helper_unix.go
  vendor/k8s.io/mount-utils/mount_windows.go
  vendor/modules.txt
Labels: lgtm, cncf-cla: yes, release-note, approved, size/XXL
